In [81]:
import pandas as pd
import numpy as np
import time

#consntants and functions
LNum_GL={1:2201,2:7208,3:7209,4:7210,5:7312,6:7341,7:9129,8:9219,9:9220,10:9335}
LNum = list(LNum_GL.keys())
GL = list(LNum_GL.values())

def LNum2GL(col):
    for i in range(len(col-1)):
        col[i]=LNum_GL[(col[i])]
    return(col)
        
#makes numbers from consumption match in commitments
def formnum(n):
    if '.' not in n[-3:]:
        return(n +'.00')
    else:
        return(n)

In [85]:
## inputs ##

actuals = pd.read_csv('TEME Actuals.csv', engine = 'python')
consumption = pd.read_csv('TEME Consumption.csv')
consumption_dummy = pd.read_csv('TEME Consumption.csv')
commitments = pd.read_csv('TEME commitments.csv')

In [86]:
## execution code

## #format actuals ## is actually consumption

#give items proper document item
#convert document item to GL
errors = pd.DataFrame(columns = ['Trigger document','GL (consumption)','GL (actuals)','Desc','Cost',])

x = len(consumption)-1

for i in range(len(consumption['Document item'])-1):
    if pd.isnull(consumption['Document item'][i+1]) == True:
        consumption['Document item'][i+1] =  consumption['Document item'][i] 

consumption_dummy['Document item'] = consumption['Document item']
consumption['GL']=LNum2GL(consumption_dummy['Document item']).copy()

#remove all nans from trigger document

for i in range(len(consumption['Trigger document'])-1):
    if pd.isnull(consumption['Trigger document'][i])==True:
        consumption.drop([i,i],axis=0,inplace=True)
consumption.drop([x,x],axis=0,inplace=True)

## format consumption ##

for i in range(len(actuals)-1):
    if pd.isnull(actuals['Ref. document number'][i])==True:
        actuals.drop([i,i],axis=0,inplace=True)
    
A=[] # cost
B=[] # GL (consumption)
C=[] # GL (actuals)
D=[] # transaction #
E=[] # description
for i in list(consumption.index.values):
# find if transaction from consumption is in actuals
    x = consumption['Consptn in Doc.Crncy'][i]
    if consumption['Consptn in Doc.Crncy'][i] in list(actuals['Val/COArea Crcy']) and str(list(actuals[actuals['Val/COArea Crcy']==x]['Cost Element'])) != str(list(consumption[consumption['Consptn in Doc.Crncy']==x]['GL'])):
        A.append(consumption['Trigger document'][i])
        B.append(consumption['GL'][i])
        C.append(list(actuals[actuals['Val/COArea Crcy']==x]['Cost Element'])[0])
        D.append(consumption['Consptn in Doc.Crncy'][i])
        E.append(consumption['Reduction text'][i])
    
    if consumption['Consptn in Doc.Crncy'][i] in list(commitments['Val/COArea Crcy']) and str(list(consumption[consumption['Consptn in Doc.Crncy']==x]['GL'])) != str(list(commitments[commitments['Val/COArea Crcy']==formnum(x)]['Cost element'])): 
        A.append(consumption['Trigger document'][i])
        B.append(consumption['GL'][i])
        C.append(list(actuals[actuals['Val/COArea Crcy']==x]['Cost Element'])[0])
        D.append(consumption['Consptn in Doc.Crncy'][i])
        E.append(consumption['Reduction text'][i])
        
errors['Trigger document'] = A
errors['GL (consumption)'] = B
errors['GL (actuals)'] = C
errors['Cost'] = D
errors['Desc'] = E

for i in range(len(errors)):
    if errors['GL (consumption)'][i] == errors['GL (actuals)'][i]:
        errors.drop([i,i],axis=0,inplace=True)

errors.to_csv('transactions to fix8.csv')

c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [75]:
#commitments.head(2)
x='46'

In [76]:
str(list(consumption[consumption['Consptn in Doc.Crncy']==x]['GL']))

'[2201.0, 2201.0]'

In [77]:
str(list(commitments[commitments['Val/COArea Crcy']==formnum(x)]['Cost element'])) 
#commitments[64:70]

'[2201.0]'

In [21]:
commitments[commitments['Val/COArea Crcy']=='2,140.00']

,Cost Center,Ref. document number,Reference item,Debit date,Document Date,Fund,Cost element,Val/COArea Crcy,Val.in rep.cur.,Dr/Cr indicator,Reference doc. type,Reference document category,Report currency,User Name
363,0102CD,4502058816,1.0,02/03/2020,27/01/2020,L101,7210.0,"2,140.00","2,140.00",D,P,POrd,CAD,MACORKUM

In [23]:
consumption[]

,Trigger document,Earmarked Funds,Document item,Business Transaction,Consptn in Doc.Crncy,Currency,Revaluation rate,Consumption in LC,Local Currency,Delete Date,Document Date,Reduction text,Purchasing Document,Reference document,Reference procedure,Reference line item,Item,Line item,Seq. No. of Account Assgt,GL
42,4502022317 00002,NaN,1.0,Purchase Order,26,CAD,NaN,26,CAD,18/11/2019,08/11/2019,Freight,4.502022e+09,4.502022e+09,PORD,2.0,2.0,NaN,NaN,2201.0
43,4502018306 00002,NaN,1.0,Purchase Order,113.25,CAD,NaN,113.25,CAD,14/01/2020,01/11/2019,Freight,4.502018e+09,4.502018e+09,PORD,2.0,2.0,NaN,NaN,2201.0
44,4502015844 00002,NaN,1.0,Purchase Order,25,CAD,NaN,25,CAD,06/11/2019,29/10/2019,Freight,4.502016e+09,4.502016e+09,PORD,2.0,2.0,NaN,NaN,2201.0
45,4502005763 00002,NaN,1.0,Purchase Order,73.28,CAD,NaN,73.28,CAD,26/11/2019,08/10/2019,Freight,4.502006e+09,4.502006e+09,PORD,2.0,2.0,NaN,NaN,2201.0
46,4502007655 00001,NaN,1.0,Purchase Order,287.29,CAD,NaN,287.29,CAD,18/10/2019,11/10/2019,MBW Freight Charges,4.502008e+09,4.502008e+09,PORD,1.0,1.0,NaN,NaN,2201.0
47,4502006954 00002,NaN,1.0,Purchase Order,15,CAD,NaN,15,CAD,21/11/2019,10/10/2019,Freight,4.502007e+09,4.502007e+09,PORD,2.0,2.0,NaN,NaN,2201.0
48,4502005778 00002,NaN,1.0,Purchase Order,24.01,CAD,NaN,24.01,CAD,25/10/2019,08/10/2019,Freight,4.502006e+09,4.502006e+09,PORD,2.0,2.0,NaN,NaN,2201.0
49,4501934823 00002,NaN,1.0,Purchase Order,0,CAD,NaN,0,CAD,29/01/2020,16/05/2019,Freight Charges,4.501935e+09,4.501935e+09,PORD,2.0,2.0,NaN,NaN,2201.0
50,4502001708 00001,NaN,1.0,Purchase Order,592.91,CAD,NaN,592.91,CAD,11/10/2019,01/10/2019,Harness # AT396405,4.502002e+09,4.502002e+09,PORD,1.0,1.0,NaN,NaN,2201.0
51,4501997868 00002,NaN,1.0,Purchase Order,42.03,CAD,NaN,42.03,CAD,01/10/2019,24/09/2019,freight,4.501998e+09,4.501998e+09,PORD,2.0,2.0,NaN,NaN,2201.0

In [62]:
def formnum(n):
    if '.' not in n[-3:]:
        return(n +'.00')
    else:
        return(n)

In [65]:
n='450.10'
formnum(n)

'450.10'

In [60]:
n='4000002132.00'

In [67]:
commitments[348:380]

,Cost Center,Ref. document number,Reference item,Debit date,Document Date,Fund,Cost element,Val/COArea Crcy,Val.in rep.cur.,Dr/Cr indicator,Reference doc. type,Reference document category,Report currency,User Name
348,0102CD,4502052644,1.0,30/01/2020,16/01/2020,L101,7210.0,946.94,946.94,D,P,POrd,CAD,MACORKUM
349,0102CD,4502052638,1.0,30/01/2020,16/01/2020,L101,7210.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
350,0102CD,4502052649,1.0,30/01/2020,16/01/2020,L101,7210.0,51.24,51.24,D,P,POrd,CAD,MACORKUM
351,0102CD,4502052649,2.0,30/01/2020,16/01/2020,L101,7210.0,24.07,24.07,D,P,POrd,CAD,MACORKUM
352,0102CD,4502052649,3.0,30/01/2020,16/01/2020,L101,7210.0,27.29,27.29,D,P,POrd,CAD,MACORKUM
353,0102CD,4502053224,3.0,31/01/2020,17/01/2020,L101,7210.0,96.42,96.42,D,P,POrd,CAD,MACORKUM
354,0102CD,4502053957,1.0,03/02/2020,20/01/2020,L101,7210.0,745.27,745.27,D,P,POrd,CAD,MACORKUM
355,0102CD,4502055360,1.0,05/02/2020,21/01/2020,L101,7210.0,300.53,300.53,D,P,POrd,CAD,MACORKUM
356,0102CD,4502055354,1.0,05/02/2020,21/01/2020,L101,7210.0,671.59,671.59,D,P,POrd,CAD,MACORKUM
357,0102CD,4502055373,1.0,05/02/2020,21/01/2020,L101,7210.0,876.30,876.30,D,P,POrd,CAD,MACORKUM
358,0102CD,4502055708,2.0,05/02/2020,22/01/2020,L101,7210.0,435.00,435.00,D,P,POrd,CAD,MACORKUM
359,0102CD,4502055875,1.0,05/02/2020,22/01/2020,L101,7210.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
360,0102CD,4502057903,1.0,11/02/2020,24/01/2020,L101,7210.0,956.14,956.14,D,P,POrd,CAD,MACORKUM
361,0102CD,4502057914,3.0,28/01/2020,24/01/2020,L101,7210.0,191.49,191.49,D,P,POrd,CAD,SPSWAN
362,0102CD,4502058390,1.0,11/02/2020,27/01/2020,L101,7210.0,969.35,969.35,D,P,POrd,CAD,MACORKUM
363,0102CD,4502058816,1.0,02/03/2020,27/01/2020,L101,7210.0,"2,140.00","2,140.00",D,P,POrd,CAD,MACORKUM
364,0102CD,4502061681,1.0,13/02/2020,30/01/2020,L101,7210.0,993.67,993.67,D,P,POrd,CAD,MACORKUM
365,0102CD,4501952734,2.0,08/07/2019,19/06/2019,L101,7227.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
366,0102CD,4501952734,1.0,08/07/2019,19/06/2019,L101,7227.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
367,0102CD,4501952734,3.0,08/07/2019,19/06/2019,L101,7227.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
368,0102CD,4501952734,4.0,08/07/2019,19/06/2019,L101,7227.0,0.00,0.00,D,P,POrd,CAD,MACORKUM
369,0102CD,4501916958,1.0,30/04/2019,15/04/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
370,0102CD,4501916958,2.0,30/04/2019,15/04/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
371,0102CD,4501916958,3.0,30/04/2019,15/04/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
372,0102CD,4501916958,4.0,30/04/2019,15/04/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
373,0102CD,4501928926,1.0,24/05/2019,07/05/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
374,0102CD,4501928926,2.0,24/05/2019,07/05/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
375,0102CD,4501962558,1.0,22/07/2019,11/07/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
376,0102CD,4501962616,1.0,22/07/2019,11/07/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
377,0102CD,4501962616,2.0,22/07/2019,11/07/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
378,0102CD,4501962616,3.0,22/07/2019,11/07/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON
379,0102CD,4501962616,4.0,22/07/2019,11/07/2019,L101,7235.0,0.00,0.00,D,P,POrd,CAD,LAGORDON

In [195]:
pd.isnull(actuals3['Trigger document'][28])

True

In [194]:
actuals3['Trigger document'][25:35]

25    0014931778 00010
26    0014877477 00010
27    0014875299 00020
28                 NaN
29    4502058816 00002
30    4502058420 00002
31    4502057505 00002
32    4502049853 00001
33    4502018785 00012
34    4502038572 00001
Name: Trigger document, dtype: object

In [244]:
len(actuals)

3045

In [246]:
len(commitments)

1728

In [248]:
actuals.to_csv('new actuals.csv')

In [289]:
errors = pd.DataFrame(columns = consumption.columns)

for i in range()

In [292]:
print('len consumption =' + str(len(consumption)))
print('len actuals =' + str(len(actuals)))

len consumption =2713
len actuals =3045

In [303]:
'453.70' in list(consumption['Val/COArea Crcy'])

True

In [305]:
actuals['Consptn in Doc.Crncy']

1            0
2            0
3            0
4            0
5            0
         ...
3087    301.58
3088    338.37
3089    451.16
3090    104.04
3091    280.62
Name: Consptn in Doc.Crncy, Length: 3045, dtype: object

In [306]:
'301.58' in list(actuals['Consptn in Doc.Crncy'])

True

In [410]:
A=[]
B=[]
for i in list(consumption.index.values):
# find if transaction from consumption is in actuals
    if consumption['Consptn in Doc.Crncy'][i] not in list(actuals['Val/COArea Crcy']) and consumption['Consptn in Doc.Crncy'][i]!= '0':
        A.append(consumption['Consptn in Doc.Crncy'][i])
    
    #if transaction from consumption is in actuals, does the GL match?
    else:
        if float(consumption['GL'][i]) != float(actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][i]]['Cost Element']):
            B.append(consumption['Consptn in Doc.Crncy'][i])

TypeError: cannot convert the series to <class 'float'>

In [387]:
consumption['GL'][1]==actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][1]]['Cost Element']

Series([], Name: Cost Element, dtype: bool)

In [375]:
x= '134.78'
actuals[actuals['Val/COArea Crcy']==x]['Cost Element']

2399    9220.0
Name: Cost Element, dtype: float64

In [417]:
float(consumption['GL'][2030]) == float(actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][2030]]['Cost Element'])

False

In [403]:
float(consumption['GL'][1])

float

In [409]:
float(actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][2030]]['Cost Element'])

9220.0

In [395]:
consumption.head(2)

,Trigger document,Earmarked Funds,Document item,Business Transaction,Consptn in Doc.Crncy,Currency,Revaluation rate,Consumption in LC,Local Currency,Delete Date,Document Date,Reduction text,Purchasing Document,Reference document,Reference procedure,Reference line item,Item,Line item,Seq. No. of Account Assgt,GL
1,0015578211 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578211.0,15578211.0,PREQ,20.0,20.0,NaN,NaN,2201.0
2,0015578207 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578207.0,15578207.0,PREQ,20.0,20.0,NaN,NaN,2201.0

In [396]:
actuals.head(2)

,Ref. document number,Posting row,Document type,Val/COArea Crcy,Name,Cost Center,Fund,Cost Element,Cost element name,Aux. acct assignment_1,Commitment,Period,Posting Date,User Name,Assignment
0,5.007547e+09,1.0,WE,453.70,Freight Charges MBW,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,18/04/2019,SLCOUTU,0102CD
1,5.007568e+09,2.0,WE,92.38,Freight,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,30/04/2019,SLCOUTU,0102CD

In [407]:
consumption[consumption['Consptn in Doc.Crncy']=='134.78']

,Trigger document,Earmarked Funds,Document item,Business Transaction,Consptn in Doc.Crncy,Currency,Revaluation rate,Consumption in LC,Local Currency,Delete Date,Document Date,Reduction text,Purchasing Document,Reference document,Reference procedure,Reference line item,Item,Line item,Seq. No. of Account Assgt,GL
2030,4502034251 00002,NaN,8.0,Purchase Order,134.78,CAD,NaN,134.78,CAD,10/12/2019,29/11/2019,"brake rotor, front",4.502034e+09,4.502034e+09,PORD,2.0,2.0,NaN,NaN,9219.0

In [408]:
consumption['Consptn in Doc.Crncy'][2030]

'134.78'

In [418]:
A=[]
B=[]
for i in list(consumption.index.values):
# find if transaction from consumption is in actuals
    if consumption['Consptn in Doc.Crncy'][i] not in list(actuals['Val/COArea Crcy']) and consumption['Consptn in Doc.Crncy'][i] != '0':
        A.append(consumption['Consptn in Doc.Crncy'][i])
    
    #if transaction from consumption is in actuals, does the GL match?
    else:
        if str(consumption['GL'][i]) != str(actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][i]]['Cost Element']) and consumption['Consptn in Doc.Crncy'][i] != '0':
            B.append(consumption['Consptn in Doc.Crncy'][i])

In [421]:
A=[]
B=[]
for i in list(consumption.index.values):
# find if transaction from consumption is in actuals
    if consumption['Consptn in Doc.Crncy'][i] in list(actuals['Val/COArea Crcy']) and consumption['Consptn in Doc.Crncy'][i] != '0' and str(consumption['GL'][i]) != str(actuals[actuals['Val/COArea Crcy']==consumption['Consptn in Doc.Crncy'][i]]['Cost Element']):
        A.append(consumption['Consptn in Doc.Crncy'][i])

In [443]:
str(float(actuals[actuals['Val/COArea Crcy']=='92.38']['Cost Element']))

'2201.0'

In [507]:
consumption.head(2)

,Trigger document,Earmarked Funds,Document item,Business Transaction,Consptn in Doc.Crncy,Currency,Revaluation rate,Consumption in LC,Local Currency,Delete Date,Document Date,Reduction text,Purchasing Document,Reference document,Reference procedure,Reference line item,Item,Line item,Seq. No. of Account Assgt,GL
1,0015578211 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578211.0,15578211.0,PREQ,20.0,20.0,NaN,NaN,2201.0
2,0015578207 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578207.0,15578207.0,PREQ,20.0,20.0,NaN,NaN,2201.0

In [510]:
actuals.head(90)

,Ref. document number,Posting row,Document type,Val/COArea Crcy,Name,Cost Center,Fund,Cost Element,Cost element name,Aux. acct assignment_1,Commitment,Period,Posting Date,User Name,Assignment
0,5.007547e+09,1.0,WE,453.70,Freight Charges MBW,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,18/04/2019,SLCOUTU,0102CD
1,5.007568e+09,2.0,WE,92.38,Freight,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,30/04/2019,SLCOUTU,0102CD
2,2.810331e+09,1.0,SC,"1,520.00",TRISTAR CHARTERS INC YARMOUTH 0929296518,0102CD,L101,5801.0,V1 RENTAL OF PASSENG,ORD 11253122,NaN,1.0,09/04/2019,INTERFACE_FI,0102CD
3,5.007568e+09,2.0,WE,24.57,Seal Compound,0102CD,L101,7208.0,V1 PAINTS/OILS/INSEC,NaN,NaN,1.0,30/04/2019,SLCOUTU,0102CD
4,5.007568e+09,3.0,WE,137.70,Rim Tite,0102CD,L101,7208.0,V1 PAINTS/OILS/INSEC,NaN,NaN,1.0,30/04/2019,SLCOUTU,0102CD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2.810457e+09,2.0,SX,22.00,FLEURANT 933 MSVS CRSE BORDEN,0102CD,L101,2106.0,MIL TRAV GOVERNANCE,ORD 11253121,NaN,2.0,09/05/2019,FARNELLRS04,FARNELL 5304
87,5.302254e+09,159.0,SA,88.61,CLA# 9040010290287180 - WO MARK BERES,0102CD,L101,2106.0,MIL TRAV GOVERNANCE,ORD 11253121,NaN,2.0,22/05/2019,JACOBSBC01,0102CD
88,5.302250e+09,1.0,SA,"-19,400.00",NFR NPCC - CFB GREENWOOD - APR 19,0102CD,L101,2131.0,MIL OP TRAV DOMESTIC,ORD 11253121,NaN,2.0,09/05/2019,PERRINJL03,0102CD
89,5.302241e+09,6.0,SA,52.44,CLA# 9040010200022403 - CPL ANDY ANTHONY,0102CD,L101,2131.0,MIL OP TRAV DOMESTIC,ORD 11253121,T0102CD203,2.0,02/05/2019,ROUSSELAR02,0102CD
90,5.302241e+09,8.0,SA,17.83,CLA# 9040010200022490 - MCPL CEDRICK ALLARD,0102CD,L101,2131.0,MIL OP TRAV DOMESTIC,ORD 11253121,T0102CD203,2.0,02/05/2019,ROUSSELAR02,0102CD

In [465]:
str(list(consumption[i-2:i-1]['GL']))

'[2201.0]'

In [479]:
actuals[actuals['Val/COArea Crcy']=='134.78']['Cost Element']

2399    9220.0
Name: Cost Element, dtype: float64

In [478]:
consumption[consumption['Consptn in Doc.Crncy']=='134.78']['GL']

2030    9219.0
Name: GL, dtype: float64

In [480]:
actuals[actuals['Val/COArea Crcy']=='134.78']

,Ref. document number,Posting row,Document type,Val/COArea Crcy,Name,Cost Center,Fund,Cost Element,Cost element name,Aux. acct assignment_1,Commitment,Period,Posting Date,User Name,Assignment
2399,5.008117e+09,2.0,WE,134.78,"brake rotor, front",0102CD,L101,9220.0,"V1 RUBBER TIRES, TUB",ORD 1102531932,NaN,9.0,10/12/2019,NRPEACH,0102CD

In [483]:
#actuals['Val/COArea Crcy'][2399]
i=2399
x = actuals['Val/COArea Crcy'][i]
x

'134.78'

In [489]:
str(list(actuals[actuals['Val/COArea Crcy']==x]['Cost Element'])) == str(list(consumption[consumption['Consptn in Doc.Crncy']==x]['GL']))

False

In [491]:
str(list(actuals[actuals['Val/COArea Crcy']==x]['Cost Element']))

'[9220.0]'

In [490]:
str(list(consumption[consumption['Consptn in Doc.Crncy']==x]['GL']))

In [535]:
errors

,Cost,Trigger document,GL,Desc
0,592.91,4502001708 00001,2201.0,"1471 Harness # AT396405\nName: Name, dtype:..."
1,37.95,4501959034 00002,2201.0,"786 Scraper\nName: Name, dtype: object"
2,44.95,4501952934 00005,2201.0,184 auth # 145933\n185 auth # 145933\n43...
3,369.27,4501914533 00001,7208.0,125 auth# 142411\n346 Aerosols ...
4,137.94,4501958024 00001,7209.0,883 Chem Resistant Gloves as per quote\n10...
5,228.57,4501914533 00002,7209.0,128 auth# 142411\n351 Rubb...
6,406.42,4502050993 00002,7210.0,2061 CLA# 9040375900180951 - CIV GARY SPINN...
7,19.99,4501939634 00001,7210.0,258 Air filter\n364 Blind\nName: Na...
8,121.47,4501914533 00003,7210.0,131 auth# 142411\n361 Bulk...
9,10.99,4501913143 00001,7210.0,8 Funnel\n2490 NOVE...
10,"3,307.20",4501921995 00001,7312.0,414 auth # 104427\n108...
11,18.75,4501934899 00006,7341.0,57 Oil Filter # RE504836\n456 ...
12,18.75,4501934899 00003,7341.0,57 Oil Filter # RE504836\n456 ...
13,31.25,4502061264 00002,9129.0,1232 Locking Strip PN 6200020\n2595 ...
14,35.95,4501998885 00007,9129.0,"1327 Tool Box Slide\nName: Name, dtype: object"
15,44.95,4501952934 00004,9129.0,184 auth # 145933\n185 auth # 145933\n43...
16,44.95,4501930190 00004,9129.0,184 auth # 145933\n185 auth # 145933\n43...
17,44.95,4501930190 00003,9129.0,184 auth # 145933\n185 auth # 145933\n43...
18,194.95,4501923593 00002,9129.0,28 Tap Set\n1...
19,35.65,4501918163 00002,9129.0,187 auth #...
20,43.96,4502061100 00002,9219.0,1627 CLA# 9040010200214128 - CPL RAYMON...
21,40.75,4502059165 00004,9219.0,1520 Air Filter outer AF25131M\n2666 ...
22,95.88,4502038478 00004,9219.0,"2624 trans fluid\nName: Name, dtype: object"
23,134.78,4502034251 00002,9219.0,"2399 brake rotor, front\nName: Name, dtype:..."
24,39.19,4502034251 00001,9219.0,"2398 brake pads, front\nName: Name, dtype: ..."
25,38.66,4502030873 00004,9219.0,2670 T93358A harness\n2672 T93358A harne...
26,18.75,4502026208 00004,9219.0,57 Oil Filter # RE504836\n456 ...
27,17.39,4502026208 00003,9219.0,1248 Hydraulic Filter HF6710\n150...
28,11.53,4502021331 00013,9219.0,110 NaN\n1217 Water ...
29,40.75,4502018785 00009,9219.0,1520 Air Filter outer AF25131M\n2666 ...
30,267.74,4502008471 00004,9219.0,"1583 front tires # 489-13\nName: Name, dtyp..."
31,18.75,4502006009 00005,9219.0,57 Oil Filter # RE504836\n456 ...
32,17.39,4502006009 00001,9219.0,1248 Hydraulic Filter HF6710\n150...
33,211.07,4502003467 00001,9219.0,1587 Battery Motomaster #0102799-4\nName: N...
34,18.75,4502000802 00002,9219.0,57 Oil Filter # RE504836\n456 ...
35,17.39,4501996928 00005,9219.0,1248 Hydraulic Filter HF6710\n150...
36,31.25,4501995450 00002,9219.0,1232 Locking Strip PN 6200020\n2595 ...
37,11.53,4501990922 00011,9219.0,110 NaN\n1217 Water ...
38,40.75,4501988845 00004,9219.0,1520 Air Filter outer AF25131M\n2666 ...
39,577.38,4501970960 00006,9219.0,1155 Broom Center Pin ATI-10870\n1178 Br...
40,"1,186.05",4501970960 00003,9219.0,1152 Idler Sprocket ATI-11321\n1175 Idle...
41,"1,393.30",4501970960 00002,9219.0,1151 Drive Sproket ATI-11315\n1174 Drive...
42,"3,245.10",4501970960 00001,9219.0,1150 Drive Sproket ATI-11324\n1173 Drive...
43,16.99,4501949718 00017,9219.0,579 Filter\n581 ...
44,16.99,4501949718 00014,9219.0,579 Filter\n581 ...
45,16.99,4501949718 00011,9219.0,579 Filter\n581 ...
46,16.99,4501949718 00008,9219.0,579 Filter\n581 ...
47,16.99,4501949718 00005,9219.0,579 Filter\n581 ...
48,16.99,4501949718 00002,9219.0,579 Filter\n581 ...
49,140.97,4501939567 00001,9219.0,"278 PO#450139567, Auth#087169\n754 ..."
50,8.14,4501938690 00001,9219.0,73 Oil filter P/N:...
51,7.14,4501927813 00001,9219.0,223 auth# 141657\n1675 10102CD009\nNa...
52,19.99,4501924045 00002,9219.0,258 Air filter\n364 Blind\nName: Na...
53,39.18,4501921114 00005,9219.0,69 Fuel filter RE541922\n2493 NOVE...
54,8.14,4501921032 00003,9219.0,73 Oil filter P/N:...
55,18.75,4501911764 00005,9219.0,57 Oil Filter # RE504836\n456 ...
56,"1,925.30",4502062905 00001,9220.0,2707 445/65 R22.5 Michelin XZLTires\nName: ...
57,"1,925.30",4502026757 00001,9220.0,2707 445/65 R22.5 Michelin XZLTires\nName: ...
58,"3,518.00",4502010618 00001,9335.0,"1584 rubber tracks #T317180\nName: Name, dt..."
59,280.62,4501914533 00004,9335.0,190 auth# 142411\n441 Batterie...

In [512]:
actuals.head(2)

,Ref. document number,Posting row,Document type,Val/COArea Crcy,Name,Cost Center,Fund,Cost Element,Cost element name,Aux. acct assignment_1,Commitment,Period,Posting Date,User Name,Assignment
0,5.007547e+09,1.0,WE,453.70,Freight Charges MBW,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,18/04/2019,SLCOUTU,0102CD
1,5.007568e+09,2.0,WE,92.38,Freight,0102CD,L101,2201.0,V1 FREIGHT- EXPRESS,NaN,NaN,1.0,30/04/2019,SLCOUTU,0102CD

In [498]:
'39.19' in A

True

In [497]:
len(A)

60

In [500]:
consumption.head()

,Trigger document,Earmarked Funds,Document item,Business Transaction,Consptn in Doc.Crncy,Currency,Revaluation rate,Consumption in LC,Local Currency,Delete Date,Document Date,Reduction text,Purchasing Document,Reference document,Reference procedure,Reference line item,Item,Line item,Seq. No. of Account Assgt,GL
1,0015578211 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578211.0,15578211.0,PREQ,20.0,20.0,NaN,NaN,2201.0
2,0015578207 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,28/01/2020,28/01/2020,Freight,15578207.0,15578207.0,PREQ,20.0,20.0,NaN,NaN,2201.0
3,0015531034 00010,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,15/01/2020,13/01/2020,MBW Freight Charges,15531034.0,15531034.0,PREQ,10.0,10.0,NaN,NaN,2201.0
4,0015458748 00010,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,09/12/2019,09/12/2019,MBW Freight Charges,15458748.0,15458748.0,PREQ,10.0,10.0,NaN,NaN,2201.0
5,0015430017 00020,NaN,1.0,Purchase Requisition,0,CAD,NaN,0,CAD,29/11/2019,29/11/2019,Freight,15430017.0,15430017.0,PREQ,20.0,20.0,NaN,NaN,2201.0

In [522]:
errors = pd.DataFrame(columns = ['Trigger document', 'Cost', 'GL'])

In [519]:
errors

Empty DataFrame
Columns: [Trigger document, Cost, GL, Description]
Index: []

In [530]:
str(list(actuals[actuals['Val/COArea Crcy']==x]['Name']))

"['auth# 142411', 'Batteries as per quote']"